<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>之讯功能介绍</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body style="background: #5bc0de" class="panel-body">
<div class="h1" style="color: firebrick">之讯功能介绍</div>
<div class="h2" style="color: #ce8483" >移动端</div>
	<ol>
		<li class="h4">点对点即时通讯
		  <ul>
			  <li class="h5">验证码登录</li>
		      <li class="h5">单聊</li>
			  <li class="h5">群聊</li>
			  <li class="h5">语音通话</li>
			  <li class="h5">视频通话</li>
			  <li class="h5">设置黑名单</li>
			  <li class="h5">设置星标好友</li>
			  <li class="h5">聊天室</li>
			  <li class="h5">频道</li>
			  <div class="h5">......</div>
		  </ul>
		</li>
		<li class="h4">离线消息</li>
		<li class="h4">多端漫游消息</li>
		<li class="h4">文件传输</li>
		<li class="h4">在线状态显示</li>
		<li class="h4">生产业务员推广二维码</li>
		<li class="h4">扫码立即进行咨询，无需注册</li>
		<div class="h4>">......</div>
</ol>
	<div class="h2" style="color: #ce8483" >管理后台</div>
	<ol>
	    <li class="h4">对用户表进行管理</li>
		<li class="h4">对每个月的消息表进行管理</li>
		<li class="h4">按时间查看聊天记录</li>
		<li class="h4">按人员查看聊天记录</li>
		<li class="h4">查询用户的推广者</li>
		<li class="h4">管理员分角色，不同角色有不同权限</li>
		<li class="h4">管理员登录日志</li>
		<div class="h4">......</div>
	</ol>
	<div class="h2" style="color: #ce8483" >技术</div>
	<ol>
		<li class="h4">之讯的数据库采用了腾讯云提供的TDSQL-C云数据库</li>
	    <li class="h4">之讯的服务器采用了腾讯云提供的轻量应用服务器</li>
		<li class="h4">之讯的对象存储采用了七牛云的KODO对象存储服务</li>
		<li class="h4">开通了验证码登录验证</li>
		<div class="h4">......</div>
	</ol>
</body>
</html>
