<!DOCTYPE html>
<html lang="zh-CN">
<head>
 

  </head>
<body>

<div class="wrap">
  
  <div class="wrap_head  head_white ">
   
    <div class="head_con">
      <a class="logo"><h1>&nbsp;&nbsp;&nbsp;&nbsp;之讯</h1></a>
      <ul class="menu_list">
        <li class="menu_item">
                  
   
    

  <div class="header-seat"></div>
  <div class="null_content">
<!-- 内容区域 -->

<link rel="stylesheet" type="text/css" />
<div class="f">
  <div class="banner banner-common">
    <div class="f-content">
      <h1>隐私政策</h1>
    </div>
  </div>
 
  <div class="page-main">
    <div class="f-content">

      <div class="page-content">
              <div class="box zh-cn">
          <h4>隐私政策</h4>
          <div class="box_txt">
              <p class="txt">上次更新时间：2021年10月</p>
              <p class="txt"><strong>欢迎来到</strong><strong> ZhiXun.com</strong><strong>！</strong></p>
              <p class="txt">感谢您访问 ZhiXun.com！之讯重视您的私隐， 我们感谢您对之讯的信任</p>
              <p class="txt">本隐私政策（下称&ldquo;<strong>隐私政策</strong>&rdquo;）将解释对于您在 zhiXun.com 网站及其子域名（下称&ldquo;<strong>网站</strong>&rdquo;）上的个人信息之处理时间、方式及原因，并规定了您与该信息所持有的相关选择和权利。请仔细阅读&mdash;&mdash;了解我们如何收集和使用您的信息，以及您可以如何控制这些信息非常重要 。</p>
              <p class="txt">请注意，本隐私政策仅适用于我们的网站。</p>
              <ul class="unorder_list">
                <li>关于任何 ZhiXun 产品或服务处理其客户之个人信息的方式，请参阅这些产品或服务的特定隐私政策。</li>
                
              <p class="txt"><strong>如果您不同意按照本</strong><strong>隐私政策</strong><strong>所述方式处理您的个人信息，请不要在收到请求时提供您的信息，并停止使用</strong><strong>本网站。使用本网站即表示您确认我们在本</strong><strong>隐私政策</strong><strong>中所述的有关您个人信息的规定。</strong></p>
              
              <h1>1.&nbsp;我们使用的个人信息类型</h1>
              <p>本节说明我们将向您收集不同类型的个人信息，以及我们如何收集这些信息。如果您想进一步了解特定数据类型以及我们如何使用这些数据，请参阅下面的部分&ldquo;<a href="#info-title"><em>我们如何使用您的个人信息</em></a>&rdquo;。</p>
              <p>以下内容总结概括了我们使用的个人信息类型：</p>
              <p><strong>您提供给我们的信息</strong></p>
              <p>在您通过我们网站上的投资者及媒体联系页面提交问询，或使用本隐私政策中指定的联系信息联系我们时，您即向我们提供查询相关的特定信息。</p>
              <p><strong>Cookie</strong></p>
              <p>我们使用 Cookie（下称&ldquo;<strong>Cookie</strong>&rdquo;）来提升您的网站使用体验。Cookie 是一种文本文件，当放置在您的设备上时，能够让我们提供特定的特性和功能。</p>
              <p>关于我们 Cookie 政策的更多信息，请单击<strong><a href="https://www.tencent.com/zh-cn/cookies-policy.html">此处</a></strong>。</p>
              <p><strong>儿童</strong></p>
              <p>儿童不得出于任何目的使用本网站，除非父母或监护人已提供同意。</p>
              <p>我们所指的儿童为 18 周岁以下的用户。</p>
              <p>我们不会出于任何目的故意收集儿童的个人信息。如果您认为我们在未经父母/监护人同意的情况下拥有儿童的个人信息，或者您是用户的父母或监护人并希望撤回同意，请通过 <a href="mailto:privacypolicy@qq.com">ZhiXun@qq.com</a> 与我们联系，我们将会删除此类信息。</p>
              <h1 id="info-title">2.&nbsp;我们如何使用您的个人信息</h1>
              <li>本节详细说明我们向您收集的个人信息类型以及收集的原因。</li>
              <table style="border-collapse:collapse;border:none;">
                  <tbody>
                      <tr>
                          <td style="width: 162.8pt;border: 1pt solid windowtext;background: black;padding: 0.15pt 5.4pt;vertical-align: top;">
                              <p style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;margin-left:0cm;text-align:left;font-size:15px;'><strong><span style="color:white;">个人信息</span></strong></p>
                          </td>
                          <td style="width: 290.55pt;border-top: 1pt solid windowtext;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-image: initial;border-left: none;background: black;padding: 0.15pt 5.4pt;vertical-align: top;">
                              <p style='margin-top:3.0pt;margin-right:0cm;margin-bottom:3.0pt;margin-left:0cm;text-align:left;font-size:15px;'><strong><span style="color:white;">用途</span></strong></p>
                          </td>
                      </tr>
                      <tr>
                          <td colspan="2" style="width: 453.35pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;background: rgb(217, 217, 217);padding: 0.15pt 5.4pt;vertical-align: top;">
                              <li><em><span>您提供给我们的信息。</span></em></li>
                          </td>
                      </tr>
                      <tr>
                          <td style="width: 162.8pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0.15pt 5.4pt;vertical-align: top;">
                              <li><span>问询表单信息：</span></li>
                              <div>
                                  <ul class="unorder_list" style="margin-bottom:0cm;list-style: disc;margin-left:8px;">
                                      <li><em><span>姓名</span></em></li>
                                      <li><em><span>公司名称</span></em></li>
                                      <li><em><span>职位名称</span></em></li>
                                      <li><em><span>电子邮件地址</span></em></li>
                                      <li><em><span>问询类别</span></em></li>
                                      <li><em><span>消息（查询详情）</span></em></li>
                                  </ul>
                              </div>
                          </td>
                          <td style="width: 290.55pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0.15pt 5.4pt;vertical-align: top;">
                              <p><span>我们使用这些信息来了解提交问询的人士身份以及与闻讯相关的内容，并联系提交问询的人士。</span></p>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <h1>3.&nbsp; 我们如何存储和共享您的个人信息</h1>
              
              <p><strong><em>我们仅在合理必要的情况下</em></strong>与第三方共享您的个人信息。这类情况包括：</p>
              <ul class="unorder_list">
              <li>提供服务以支持本网站的<strong>第三方</strong>（包括云服务提供商），这些提供商为支持与您的问询相关的通讯而处理本政策中所明确的信息。除向我们提供服务外，所有向我们提供服务的公司均不得出于任何目的保留、使用或披露您的个人信息。</li>
             
              </ul>
              <h1>4.&nbsp;个人信息的安全性</h1>
              <p>无论您的个人信息存储在何处，我们均承诺维护其隐私和完整性。我们的信息安全与访问政策限制对我们的系统和技术进行访问，我们通过使用加密等技术保护措施来保护数据。</p>
              <p>遗憾的是，通过互联网传输信息并不完全安全。尽管我们将实施并保持合理措施来保护您的个人信息，但我们不能保证通过本网站或以其他方式通过互联网传输的信息的安全性；对于任何信息传输，风险均由您自行承担。</p>
              <h1>5.&nbsp; 数据保留</h1>
              <h1>除非法律有所要求，否则我们保留您的数据的时间不会超过保留所需的期限。我们将按照以下方式保留您的信息：</h1>
              <ul class="unorder_list">
              <li><em>您提交查询表格或使用本隐私政策中指定的详细信息联系我们时向我们提供的信息</em>：直至您的查询得到解决，然后在解决后的一百八十 (180) 天内删除该信息，除非您同意保留这些数据并在将来接收更多信息。</li>
              <li>如果需要我们在上述规定之保留期限之后保留您的信息，例如为了遵守适用法律，我们会将其与其他类型的个人信息分开存储。</li>
              </ul>
              <h1>6.&nbsp;您的权利</h1>
              <p>您拥有我们持有的有关您的个人信息的相关法定权利（在适用法律和法规允许范围内）。您可以请求访问或更正我们所处理的有关您的数据。我们可能会因遵守数据访问请求而向您收取一定的合理费用。</p>
              <p>如要行使您的任何权利，请通过 <a href="mailto:privacypolicy@qq.com">ZhiXun@qq.com</a> 与我们联系。</p>
              <p>请注意，本网站不涉及任何个性化广告。任何电子邮件仅为回应您提交的查询而发送，并且仅为服务消息。</p>
              <h1>7.&nbsp; 联系和投诉</h1>
              <p>欢迎就本隐私政策提出问题、意见和请求。出于遵守适用隐私法的目的，请向指定的数据保护官提出此类反馈，其联系方式为 <a href="mailto:privacypolicy@qq.com">ZhiXun@qq.com</a>。</p>
              <p><strong>如果您希望就我们处理个人信息的方式提起投诉，请首先通过</strong><strong> <a href="mailto:privacypolicy@qq.com">ZhiXun@qq.com</a></strong><strong>与我们联系，我们将努力尽快处理您的请求。</strong></p>
              <h1>8.&nbsp;变更</h1>
              <p>如果本隐私政策有任何变更，我们将在此发布更新的隐私政策。请定期访问本页面，查看本隐私政策是否有任何更新或变更。</p>
              <p>&nbsp;</p>
          </div>
        </div>
          </div>
      </div>
    </div>
</div>

<script>

</script>

</div>





       

<script>
  /* 获取一年后今日的时间戳 */
  var date = new Date();
  var y = date.getFullYear() + 1;
  var m = date.getMonth();
  var d = date.getDate();
  var h = date.getHours();
  var minute = date.getMinutes();
  var s = date.getSeconds();
  var dateStr = y + "-"
    + (m + 1) + "-"
    + d + " "
    + h + ":"
    + minute + ":"
    + s;
  let timestamp = (new Date(dateStr)).getTime();
  // console.log(timestamp);

  if (localStorage.getItem("cookieStatusTime")) {
    if (localStorage.getItem("cookieStatusTime") < Date.parse(new Date())) {
      // console.log('cookie协议到期');
      if (window.location.href.indexOf("cookies-policy") >= 0 || window.location.href.indexOf("cookie-policy") >= 0) {
        console.log('当前是cookie协议页');
      } else {
        $('.cookie-pop').fadeIn();
      }
    } else {
      // console.log('cookie协议没到期');
    }
  }

  if (localStorage.getItem("cookieStatus") == 'false') {

  } else if (localStorage.getItem("cookieStatus") == 'true') {
    var _mtac = { "performanceMonitor": 1, "senseQuery": 1 };
    (function () {
      var mta = document.createElement("script");
      mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
      mta.setAttribute("name", "MTAH5");
      mta.setAttribute("sid", "500665694");
      mta.setAttribute("cid", "500696449");
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(mta, s);
    })();
    <!-- Global site tag (gtag.js) - Google Analytics -->
    var ga = document.createElement("script");
    ga.src = "https://www.googletagmanager.com/gtag/js?id=G-DW9MBJC8M8";
    ga.async = 1;
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(ga, s);
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-DW9MBJC8M8');

    <!--Metricool Tracker -->
    function loadScript (a) {
      var b = document.getElementsByTagName('head')[0], c = document.createElement('script')
      c.type = 'text/javascript', c.src = 'https://tracker.metricool.com/resources/be.js', c.onreadystatechange = a, c.onload = a, b.appendChild(c)
    }

    loadScript(function () {
      beTracker.t({ hash: 'cc917e970604fc97c930332506849347' })
    })

  } else {
    console.log(window.location.href)
    if (window.location.href.indexOf("cookies-policy") >= 0 || window.location.href.indexOf("cookie-policy") >= 0) {
      console.log('当前是cookie协议页');
    } else {
      $('.cookie-pop').fadeIn();
    }
  }

  $('.cookie-pop .btn-box .btn,.cookie-pop .pop .close-btn').on('click', function () {
    if ($(this).hasClass('refuse-btn') || $(this).hasClass('close-btn')) {
      $('.cookie-pop').fadeOut();
      localStorage.setItem("cookieStatus", "false");
      localStorage.setItem("cookieStatusTime", timestamp);
    } else {
      $('.cookie-pop').fadeOut();
      localStorage.setItem("cookieStatus", "true");
      localStorage.setItem("cookieStatusTime", timestamp);
      var _mtac = { "performanceMonitor": 1, "senseQuery": 1 };
      (function () {
        var mta = document.createElement("script");
        mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
        mta.setAttribute("name", "MTAH5");
        mta.setAttribute("sid", "500665694");
        mta.setAttribute("cid", "500696449");
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(mta, s);
      })();
      <!-- Global site tag (gtag.js) - Google Analytics -->
      var ga = document.createElement("script");
      ga.src = "https://www.googletagmanager.com/gtag/js?id=G-DW9MBJC8M8";
      ga.async = 1;
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(ga, s);
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-DW9MBJC8M8');

      <!--Metricool Tracker -->
      function loadScript (a) {
        var b = document.getElementsByTagName('head')[0], c = document.createElement('script')
        c.type = 'text/javascript', c.src = 'https://tracker.metricool.com/resources/be.js', c.onreadystatechange = a, c.onload = a, b.appendChild(c)
      }

      loadScript(function () {
        beTracker.t({ hash: 'cc917e970604fc97c930332506849347' })
      })
    }
  })

  var _locale = 'zh-cn';
  var pop_ind = 0;
  if(window.location.pathname.indexOf("zh-cn") >= 0){
    // console.log('带zh-cn后缀');
    _locale = 'zh-cn/';
  }else if(window.location.pathname.indexOf("zh-hk") >= 0){
    // console.log('带zh-hk后缀');
    _locale = 'zh-hk/';
  }else if(window.location.pathname.indexOf("en-us") >= 0){
    // console.log('带en-us后缀');
    _locale = 'en-us/';
    pop_ind = 2;
  }else{
    console.log('不带lang后缀')
    if(localStorage.getItem("browserSign") != null){
      _locale = localStorage.getItem("browserSign");
      if (_locale.split('/')[0] == 'zh-hk') {
        pop_ind = 1;
      } else if (_locale.indexOf("zh") >= 0 || _locale.indexOf("ZH") >= 0) {
        pop_ind = 0;
      } else {
        pop_ind = 2;
      }
    }else{
      /* 获取浏览器语言 */
      // console.log('浏览器语言: '+navigator.language)
      var lang_nav = navigator.language;

      if (lang_nav == 'zh-HK') {
        _locale = 'zh-hk/';
        pop_ind = 1;
      } else if (lang_nav.indexOf("zh") >= 0 || lang_nav.indexOf("ZH") >= 0) {
        _locale = 'zh-cn/';
        pop_ind = 0;
      } else {
        _locale = 'en-us/';
        pop_ind = 2;
      }
    }

    if (window.location.pathname.indexOf(_locale.split('/')[0]) >= 0) {

    }else{
      // console.log('与当前语言不同就跳转');
      console.log(window.location.pathname.split('/'))
      if(window.location.pathname.split('/')[1] == 'tencent_com_ui' || window.location.pathname.split('/')[2] == 'tencent_com_ui'){
        // console.log('符合')
        window.location.pathname = window.location.pathname.replace(/^\/(zh\-(cn|hk)|en\-us)?/, '/' + _locale);
      }else{
        // console.log('不符合')
        window.location.pathname = window.location.pathname.replace(/^\/(zh\-(cn|hk)|en\-us)?/, '/' + _locale.split('/')[0]);
      }

    }
  }

  $('.lang_area a').removeClass('current');
  $('.wrap').addClass(_locale.split('/')[0]);
  $('.lang_area a[lang="' + _locale.split('/')[0] + '"]').addClass('current');



  /* 中文/繁体/英文路由状态控制 */
  var host = window.location.host;
  var url = window.location.href;
  $('.lang_area a,.menu_list .menu_item.menu_item_lan a,.lang-ul li a').on('click', function () {
    var targetLocale = $(this).attr('lang');

    if ($(this).attr('lang') != _locale.split('/')[0]) {
      localStorage.setItem("browserSign", targetLocale+'/');
      window.location.pathname = window.location.pathname.replace(/^\/(zh\-(cn|hk)|en\-us)?/, '/' + targetLocale);
    }
  })

  $('.cookie-pop .pop').removeClass('active');
  $('.cookie-pop .pop').eq(pop_ind).addClass('active');
</script>

</body>
</html>

