<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Services</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900&amp;subset=latin-ext" rel="stylesheet">
	<!-- //Web-Fonts -->
</head>

<body>
	<!-- header -->
	<header>
		
		<!-- menu -->
		<ul id="menu">
			<li>
				<input id="check02" type="checkbox" name="menu" />
				<label for="check02"><span class="fa fa-bars" aria-hidden="true"></span></label>
				<ul class="submenu">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="services.html" class="active">Services</a></li>
					<li><a href="team.html">The Team</a></li>
					<li><a href="blog.html">Blog</a></li>
					
				</ul>
			</li>
		</ul>
		<!-- //menu -->
	</header>
	<!-- //header -->

	<!-- services -->
	<div class="services he-codes">
		<!-- services content -->
		<div class="services-cont pt-5">
			<h3 class="title text-center text-wh font-weight-bold">Services</h3>
			<div class="container pt-5">
				<div class="row">
					<div class="col-lg-8 mx-auto mt-lg-5">
						<div class="row">
							<div class="col-lg-6">
								<div class="abt-block">
									<div class="serv_abs">
										<span class="fa fa-ravelry"></span>
									</div>
									<h1>即时通讯</h1>
									<p>实现点对点即时消息通信，实现离线消息和多端漫游消息，文件传输.</p>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="abt-block">
									<div class="serv_abs">
										<span class="fa fa-coffee"></span>
									</div>
									<h2>上线提醒</h2>
									<p>在手机等终端登录后，在线状态将会切换为在线，与此同时，该帐户上的好友也能看到该用户在线.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-lg-5 pt-lg-5">
					<div class="col-lg-4">
						<div class="abt-block">
							<div class="serv_abs">
								<span class="fa fa-gift"></span>
							</div>
							<h3>二维码功能</h3>
							<p>系统会在用户需要时生成包含用户信息的二维码，扫描二维码可显示出该业务员的相关信息.</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="abt-block">
							<div class="serv_abs">
								<span class="fa fa-spinner"></span>
							</div>
							<h3>后台管理</h3>
							<p>后台管理界面可以按时间、按人员查看所有业务人员的聊天记录和所有客户的推广者.</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="abt-block mb-0">
							<div class="serv_abs">
								<span class="fa fa-paint-brush"></span>
							</div>
							<h3>1min恢复</h3>
							<p>在其中一台服务器因为某些原因导致无法正常提供服务的情况下，能够在1min内恢复系统功能。.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //services content -->
		<!-- copyright -->
		
		<!-- //copyright -->
	</div>
	<!-- //services -->

</body>

</html>